// Default variable overrides
$primary:rgb(72, 135, 250);

$container-max-widths: (
    sm: 540px,
    md: 704px,
    lg: 924px,
    xl: 1140px,
    xxl: 1364px
);

a{
    text-decoration:none;
    cursor:pointer;
}


button{
    cursor:pointer;
}

.modal-outside{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background :rgba(0,0,0,0.75);
    display:grid;
    place-content:center;

}
.modal-outside  .head{
    display : flex;
    justify-content: space-between;
    align-items: center;
}
.close-btn > img {
    width:25px;
    height:25px;
    cursor:pointer;
}


.board-card{
    margin-top: 40px;
    .head{
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #989fa8; 
    }
    h2{
        font-size: 18px;
        line-height: 43px;
        font-weight: 700;
        
    }
    a{
        color:#222;
        opacity: 0.2;
        font-size: 14px;
    }
}

.article-list{
    margin:0;
    padding:0;
    padding-top:10px;
    li{
        list-style:none;
        display:flex;
        padding-top: 9px;
        margin-bottom:8px;
        span{
            display:inline-block;
            line-height: 20px;
            color:#222;
        }
        .icon{
            margin-right: 5px;
        }
        .count-display{
            display:flex;
            opacity:0.4;
            gap:20px;
            .count-item{
                display:flex;
            }
        }

        .article-title{
            width: calc(100%-50px); 
        }
    }
}

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap";
